<!DOCTYPE html>
<html>
<head>
  <title>PromptCloud</title>
</head>

<body style="background-color: #000000">
<div class="index-back">
<div class = "promptcloud-title" style="height:auto; width:auto; max-width:300px; max-height:300px;">
<%= link_to (image_tag "pc-logo.png"),{:controller => "customers", :action => "new"} %>
</div>
</div>
</body>

</html>