
<div class="modal-body row-fluid">
  <div class="span6">
    <%= form_for @customer, :html => { :multipart => true } do |f| %>
        <% if @customer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

              <ul>
                <% @customer.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <h3>Customer Information</h3>
        <div class="field" style="color: #76D2F6">
          <%= f.label :contact_person_name %><br />
          <%= f.text_field :contact_person_name, :required => true%>
        </div>
        <div class="field"style="color: #76D2F6">
          <%= f.label :company_name %><br />
          <%= f.text_field :company_name, :required => true %>
        </div>
        <div class="field"style="color: #76D2F6">
          <%= f.label :email_id %><br />
          <%= f.text_field :email_id, :required => true %>
        </div>
        <div class="field" style="color: #76D2F6">
          <%= f.label :contact_number %><br />
          <%= f.number_field :contact_number, :required => true %>
        </div>
  </div>
  <div class="span6">
    <h3>Project Information</h3>
    <div class="field" style="color: #76D2F6">
      <%= f.label :project_name %><br />
      <%= f.text_field :project_name, :required => true %>
    </div>
    <div class="field" style="color: #76D2F6">
      <%= f.label :brief_details %><br />
      <%= f.text_area :brief_details, :required => true %>
    </div>
    <div class="field" style="color: #76D2F6">
      <%= f.label :seed_url %><br />
      <%= f.text_field :seed_url, :required => true %>
    </div>
    <div style="color: #76D2F6">
      <%= f.label :data_format %>
      <%= f.select :data_format, [['PDF', 'PDF'], ['XML', 'XML'], ['JSON', 'JSON'],['CSV','CSV'],['XLSX','XLSX']], {}, :multiple => true, :required => true %>
    </div>
    <div class="field" style="color: #76D2F6">
      <%= f.label :crawl_frequency %><br />
      <%= f.number_field :crawl_frequency, :required => true %>
    </div>

    <div class="field" style="color: #76D2F6">
      <%= f.label :data_schema %><br />
      <%= f.text_area :data_schema %>
    </div>


    <p style="color: #76D2F6">
      <b> attachment </b><br/>
      <%= f.file_field :attach %>
    </p>

    <p style="color: #76D2F6">
      <b> Picture </b><br/>
      <%= f.file_field :pic %>
    </p>
    <div class="actions" style="color: #76D2F6">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>

</div>








