<body style="background-color: gainsboro;">
<div class = "container">
<h1>Editing customer</h1>

<%= render 'form' %>
<div style="padding-left: 178px">
<%= link_to 'Show', @customer %> |
<%= link_to 'Back', customers_path %>
</div>
</div>
</body>