<body style="background-color: gainsboro;">

<h1>Listing customers</h1>


<div class="table table-bordered">
  <table class="table" >
  <tr style="color: #76D2F6">
    <th>Contact person name</th>
    <th>Company name</th>
    <th>Email</th>
    <th>Contact number</th>
    <th>Project name</th>
    <th>Brief details</th>
    <th>Seed url</th>
    <th>Data format</th>
    <th>Crawl frequency</th>
    <th>File attached</th>
    <th>Picture</th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.contact_person_name %></td>
    <td><%= customer.company_name %></td>
    <td><%= customer.email_id %></td>
    <td><%= customer.contact_number %></td>
    <td><%= customer.project_name %></td>
    <td><%= customer.brief_details %></td>
    <td><%= customer.seed_url %></td>
    <td><%= customer.data_format %></td>
    <td><%= customer.crawl_frequency %></td>
    <td><%= customer.attach.url%></td>
    <td><%= customer.pic.url(:medium)%></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Customer', new_customer_path %>

</body>