<html>
<head>
</head>
<body style="background-color: gainsboro;">

<div class="container">
  <h1 style="color: #76D2F6">New Customer</h1>

  <%= render 'form' %>

</div>
<div style="padding-left: 178px">
  <%= link_to 'Back', customers_path %>
</div>
</body>
</html>