<html>
<head>
  <style>
  p{
  line-height:35px;
  }
  </style>
</head>
<body style="background-color: gainsboro;">
    <div class="container">
        <h1>Customer Details</h1>

        <p id="notice"><%= notice %></p>

        <p>
          <b style="color: #76D2F6">Contact person name:</b>
          <%= @customer.contact_person_name %>
        </p>

        <p>
          <b style="color: #76D2F6">Company name:</b>
          <%= @customer.company_name %>
        </p>

        <p>
          <b style="color: #76D2F6">Email:</b>
          <%= @customer.email_id %>
        </p>

        <p>
          <b style="color: #76D2F6">Contact number:</b>
          <%= @customer.contact_number %>
        </p>

        <p>
          <b style="color: #76D2F6">Project name:</b>
          <%= @customer.project_name %>
        </p>

        <p>
          <b style="color: #76D2F6">Brief details:</b>
          <%= @customer.brief_details %>
        </p>

        <p>
          <b style="color: #76D2F6">Seed url:</b>
          <%= @customer.seed_url %>
        </p>

        <p>
          <b style="color: #76D2F6">Data format:</b>
          <%= @customer.data_format %>
        </p>

        <p>
          <b style="color: #76D2F6">Crawl frequency:</b>
          <%= @customer.crawl_frequency %>
        </p>

        <p>
          <b style="color: #76D2F6">Data Schema:</b>
          <%= @customer.data_schema %>
        </p>

        <a href="<%= @customer.attach.url %> ">
          <b style="color: #76D2F6"> File attached </b>
        </a>
        <br>
        <p>
          <b style="color: #76D2F6">Image:</b>
        <%= image_tag @customer.pic.url(:medium) %>
        </p>
        <br>
        <%= link_to 'Edit', edit_customer_path(@customer) %> |
        <%= link_to 'Back', customers_path %>
    </div>
</body>
</html>